<h2>Proyectos</h2>
<div class="proyectos">
    {{#each proyectoData}}
    {{>proyecto
        imagenLink=imagenLink
        titulo=titulo
        descripcion=descripcion
        pageLink=pageLink
    }}
    {{/each}}


</div>