header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: @background_secundario;
    color: @textColor_principal;
    gap: @unit8;
    flex-wrap: wrap;
    .p-5();
    img{
        .round50();
        .shadow();
        &:hover{
            transform: scale(1.1);
        }
    }
    .datos{
        text-align: center;
        color: @textColor_secundario;
        h1{
            .p-y-4();
            .text-extra-large();
        }
        p{
            .text-large();
        }
    }
    nav{
        ul{
            list-style: none;
            li{
                .p-y-3();
                a{
                    text-decoration: none;
                    color: @textColor_secundario;
                    .text-large();
                    padding: 0.75rem 1.5rem 0.75rem 1.5rem;
                    &:hover{
                        background-color: @background_principal;
                        .roundLarge();
                        .shadow();
                    }
                }
            }
        }
    }
    #menu-hamburguesa{
        display: none;
    }
}